In [2]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [4]:
%sql postgresql+psycopg2://admin:quest@localhost:8812/qdb

In [6]:
%%sql

SELECT * from trades limit -3

*  postgresql+psycopg2://admin:***@localhost:8812/qdb
3 rows affected.

[(None, None, None, datetime.datetime(2023, 3, 17, 9, 56, 34, 734525), 'EURJPY', None, 135.97, None, 400, None),
 (None, None, None, datetime.datetime(2023, 3, 17, 10, 3, 1, 2223), 'USDGBP', 'buy', 0.83, 0.84, 100, datetime.datetime(2022, 8, 6, 7, 35, 23, 189062)),
 (None, None, None, datetime.datetime(2023, 3, 17, 10, 3, 1, 39892), 'EURJPY', None, 135.97, None, 400, None)]

In [7]:
result = _
print(result)

+------+-------+------------+----------------------------+--------+------+--------------+-------------+-----+----------------------------+
| name | value | valid_from |         timestamp          |  pair  | type | traded_price | limit_price | qty |         traded_ts          |
+------+-------+------------+----------------------------+--------+------+--------------+-------------+-----+----------------------------+
| None |  None |    None    | 2023-03-17 09:56:34.734525 | EURJPY | None |    135.97    |     None    | 400 |            None            |
| None |  None |    None    | 2023-03-17 10:03:01.002223 | USDGBP | buy  |     0.83     |     0.84    | 100 | 2022-08-06 07:35:23.189062 |
| None |  None |    None    | 2023-03-17 10:03:01.039892 | EURJPY | None |    135.97    |     None    | 400 |            None            |
+------+-------+------------+----------------------------+--------+------+--------------+-------------+-----+----------------------------+

In [4]:
import pandas as pd
import numpy as np
import psycopg2 as pg

engine = pg.connect("dbname='qdb' user='admin' host='127.0.0.1' port='8812' password='quest'")
df = pd.read_sql('select * from trades limit -2', con=engine)
df

/Users/j/prj/python/questdb_dataset_utils/venv/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,name,value,valid_from,timestamp,pair,type,traded_price,limit_price,qty,traded_ts
0,None,None,None,2023-03-17 10:03:01.002223,USDGBP,buy,0.83,0.84,100,2022-08-06 07:35:23.189062
1,None,None,None,2023-03-17 10:03:01.039892,EURJPY,None,135.97,NaN,400,NaT

In [6]:
import pandas as pd
import numpy as np
import psycopg as pg

engine = pg.connect("dbname='qdb' user='admin' host='127.0.0.1' port='8812' password='quest'")
df = pd.read_sql('select * from trades limit -2', con=engine)
df

/Users/j/prj/python/questdb_dataset_utils/venv/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,name,value,valid_from,timestamp,pair,type,traded_price,limit_price,qty,traded_ts
0,None,None,None,2023-03-17 10:03:01.002223,USDGBP,buy,0.83,0.84,100,2022-08-06 07:35:23.189062
1,None,None,None,2023-03-17 10:03:01.039892,EURJPY,None,135.97,NaN,400,NaT